<% title 'Welcome' %>

<div class="page-header">
    <h1>Welcome to "Web Application Security Scanner Framework" Interface.</h1>

    <div class="lead">
        WASSF is capable of exposing a huge list of existing vulnerabilities in web applications. 
        Scan checks can be selected individually or by group. 
        For example, a scan configuration could be created to report only vulnerabilities appearing in the OWASP Top 10.
    </div>
</div>

<h2>Choosing the right database</h2>
<div class="lead">
    By default, this tool uses an SQLite3 database and that allows for a
    configuration-free out-of-the-box experience. However, this setup is unsuitable
    for larger workloads and may cause stability issues or crashes.
</div>

<h2>Getting help</h2>
<div class="lead">
    Don't hesitate to ask for assistance if you run into issues or have
    any questions, but do use the right way to get in touch info:<br></br>
    1. zakwanabid30@gmail.com <br></br>
    2. khurramhsn116@gmail.com
</div>
